<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ecommerceJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>urlpaypal</param-name>
    <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>urlretorno</param-name>
    <param-value>http://localhost:8080/ecommerceJEE/Cart?action=finish</param-value>
  </context-param>
  <error-page>
    <location>/404.html</location>
  </error-page>
</web-app>